.letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
}

body {
    width: 100%;
}

.letter-button-color {
    color: darkcyan;
}

.letter-button-used {
    color: rebeccapurple;
}